apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: dotnet-basic-mnrnxaye
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: artifactory-docker-artifactory.apps.rosa.rhtap-services.xmdt.p3.openshiftapps.com/rhtap/dotnet-basic-mnrnxaye:be53af6ecf1cd2b0f37dd1bad97361e5a209b4fc@sha256:149e3a40674e81c3e3ff36aa548f45e43b7dffe4f76d9b0bb66c5c5adb8f54ac
          name: container-image
